*
/.obsidian/

!.gitignore

!01-产品介绍/
!01-产品介绍/**

!02-快速上手/
!02-快速上手/**

!03-详细教程/
!03-详细教程/**

!04-插件介绍/
!04-插件介绍/**

!05-高级定制/
!05-高级定制/**

!06-FAQ与问题反馈/
!06-FAQ与问题反馈/**

!assets/
!assets/**

!index.md